
body {
  background-image: radial-gradient(black, beige 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh; /* This ensures the content is centered in the viewport. */
}
h1{
  display: flex;
  justify-content: center;
  font-family: Henny Penny;
  color: white;
  font-size: 85px;
  margin-bottom: 15px;
  
}
button {
  margin-top: 20px;
}
#spin-container {
  display: none;
  font-size: 100px;
  text-align: center;
  margin: 50px;
}
#start{
  font-family: Lobster;
  padding: 20px 60px;
  font-size: 30px;
  border-radius: 15px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(105, 101, 86);
  color: white;
}
#start:hover{
  padding: 25px 75px;
  font-size: 35px;
}
#start:active{
  padding: 22px 70px;
}

#jeopardy {
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  background-color: rgb(183, 183, 163);
  color: dark;
  border-collapse: collapse;
}

#jeopardy th, #jeopardy td {
  border: solid 1px white;
  width: 12em;
  padding: 15px;
}

th {
  text-transform: uppercase;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  height: 4em;
}

td {
  font-size: 12px;
  font-family: Arial;
  height: 10em;
  transition: 0.5s;
}

td:hover {
  font-size: 12.5px;
  cursor: pointer;
}